.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: #244855;
    color: white;
}

.logo {
    font-weight: bold;
    padding: 5px;
}